{ config, pkgs, ... }:

{
  home.username = "{{- .chezmoi.username }}";
  home.homeDirectory = "{{- .chezmoi.homeDir }}";

  home.stateVersion = "24.05";

  home.packages = with pkgs; [
		chezmoi
		eza
		fastfetch
		fnm
		fzf
		gcc
		mise
		neovim
		tmux
		zoxide
		zsh
  ];

  # Let Home Manager install and manage itself.
  programs.home-manager.enable = true;
}
