{{- if eq .chezmoi.os "darwin" }}
# setup homebrew completions on macos
# src: https://github.com/zimfw/zimfw/discussions/477#discussioncomment-3794455
zmodule /opt/homebrew/share/zsh --fpath site-functions
{{ end -}}

# theme
zmodule romkatv/powerlevel10k

# setup mise
zmodule joke/zim-mise

# completions
zmodule zsh-users/zsh-completions --fpath src
zmodule completion

# fish like highlighting and suggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions

# better vim mode
zmodule jeffreytse/zsh-vi-mode

# defer some zsh commands
zmodule romkatv/zsh-defer
